{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": [2, {"args": "none", "varsIgnorePattern": "^should$"}],
    "no-octal": [0]
  },
  "globals": {"root_require": true}
}
