doctype

- var title = null
block vars
- if (title) { title = '— ' + title; }

html(lang='en')
  head
    meta(charset='utf-8')
    title Jophy #{title}
    link(rel='stylesheet', href='/css/index.css')
  body
    block content