doctype

- var title = null
block vars
- if (title) { title = '— ' + title; }

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Joe D Shaner #{title}
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')
  body
    .container
      h1.banner Joe D. Shaner
      block content