extends ./layout.jade

block vars
  - var title = locals.title

block content
  .row
    .one-half.column.u-pull-right
      != contents
  .row
    .one-half.column.work-assets
      != left
    .one-half.column
      != right